.secao{
  background-image: linear-gradient(to top, yellow 0%, white 100%);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 50%;
gap: 5rem;


}
.cards{
  background-color: linear-gradient(to top, yellow 0%, white 100%);
border-right: 1px dotted pink;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.flashs{

  background-position:0em;
  background-size:cover;
  width: 100%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}

.portfolio{

  background-position:0em;
  background-size:cover;
  width: 100%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}


.faq{

  background-position:0em;
  background-size:cover;
  width: 100%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}
.sn{

  background-position:0em;
  background-size:cover;
  width: 120%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}


.nossolocal{

  background-position:0em;
  background-size:cover;
  width: 100%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}

.tatuadores{


  background-size:cover;
  width: 110%;
  height: 100%;
color:black;
background-color: black;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.5;

}


.tatuadores:hover{


  opacity: 1;

}
.nossolocal:hover,.faq:hover,.sn:hover,.flashs:hover,.portfolio:hover{


  opacity: 1;

}

.cards{
border-radius: 15%;
height: 55%;
border: none;
background-image: linear-gradient(to top, pink 0%, yellow 100%);

}



@media only screen 

  and (max-device-width: 1253px)
 {
    .cards{ font-size: 95%; }
}
@media only screen 

  and (max-device-width: 963px)
 {
    .cards{ font-size: 95%;
    width: 100%;
    height: 55px;
    
    }
    .App{
width: 106%;

    }
}


@media only screen 

  and (max-device-width: 500px)
 {
    .cards{ font-size: 85%;
    width: 100%;
    height: 95px;
    
    }
    .App{
width: 200%;

    }
    .secao{
      height: 134%;
    }
    .cards{
margin-bottom: 50%;

    }

}